
.hidden {
    display: none;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.box-color{
    background-color:black;
    color: WHITe;
    text-align: center;
}

.box-color2{
    background-color: #fff8dc;
    text-align:center;
}

.grid{
    display: grid;
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: repeat(12,70px);
    grid-column-gap: 30px;
}



/* 2. ---Grid--- */

/* this is the exact same grid used in Adobe XD, we have recreated 
the grid using CSS. It is a class becasue we will use multiple grids */


/* 3. ---Header--- */

#header-logo{
    width: 270;
    height: 200;
    grid-column: 1/4;
}

#header-nav{
        height: 70px;
        width: 570px;
        grid-column: 4/8;
        grid-row: 1/1;
        margin-top: 15px;
}




/* 4. ---Main Hero Image--- */

.hero-image{
    grid-column: 1/-1;
    width: 1170px;
    height: 400px;
    grid-row: 1/3;
}

#buy-now{
    width: 225px;
    height: 100px;
    grid-column: 10/-1;
    grid-row: 1/2;
    margin-top: 20px;
}

#tag-line{
    grid-column: 1/-1;
    grid-row: 2/3;
    height: 100px;
    width: 1170px;
    margin-bottom: 20px;
    align-self: end;
}


/* 5. ---Features--- */
#features-con {
    margin-top: 100px;
}
.feature{
    width: 370px;
    height: 300px;
    grid-column: span 4;
    margin-bottom: 100px;
}

/* 6. ---Footer--- */


#footer-con full{
    height: 100px;
    margin-top: 150px;
    align-self: center;
}

#footer-nav{
    width: 640px;
    height: 70px;
    margin-top: 15px;
    grid-column:1/8 ;
    margin-left: 20px;
    align-items: center;
}
